<div id="title">#<%=@strip.id%> &ndash; <%= @strip.title %></div>


<div id="Strip"> <img src="<%=@strip.filename%>"></div>

<div id="nav">
     <a href="/1">First</a>
     <% if @strip.id == 1 %>
     	<a href="/1">Prev</a>
     <% else %>
          <a href="/<%= @strip.id-1%> ">Prev</a> 
     <% end %>		
     <a href="/<%=@strip.id+1%> ">Next</a>
     <a href="/">Last</a>
</div>
<div id="blurb"><span class="posted">Posted on <%= @strip.posted %></span></div>



